<div class="row">
  <div class="col-sm-2"></div>
  <div class="card col-sm-8">
    <div class="card-header">
      Factura
    </div>
    <div class="card-body centered">
      <div class="centered">
        <div *ngIf="isLoading" class="spinner-border loading" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!isLoading && pedidoTerminado">
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Nombre</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext"
                   value="{{pedidoTerminado.nombre}} {{pedidoTerminado.apellido}}">
          </div>

          <label class="col-sm-6 col-form-label">Dirección</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" value="{{pedidoTerminado.direccion}}">
          </div>

          <label class="col-sm-6 col-form-label">Telefono</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" value="{{pedidoTerminado.telefono}}">
          </div>

          <label class="col-sm-6 col-form-label">Correo</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" value="{{pedidoTerminado.correo}}">
          </div>

          <label class="col-sm-6 col-form-label">Marca</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" value="{{pedidoTerminado.marca}}">
          </div>

          <label class="col-sm-6 col-form-label">Duración</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" value="{{pedidoTerminado.tiempo}}">
          </div>

          <label class="col-sm-6 col-form-label">Costo total</label>
          <div class="col-sm-6">
            <input type="text" readonly class="form-control-plaintext" value="{{pedidoTerminado.ganancia}}">
          </div>
        </div>
        <div class="padding-top">
          <button class="btn btn-primary" (click)="goToPrincipal()">Ir al inicio</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
