.card {
  padding-left: 0;
  padding-right: 0;
}

.centered {
  align-content: center;
  text-align: center;
}

.option-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25% 25% 25% 25%;
  justify-items: center;
  align-items: center;

  .imagen {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;

    img {
      width: 100px;
    }
  }

  .nombre-lavadora {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: left;
  }

  .cliente {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: left;
  }

  .tiempo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: left;
  }

  .ganancia {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: left;
  }

  .boton-alquilar {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }
}

.padding-top {
  padding-top: 10px;
}

.imagen-lavadora {
  img {
    width: 200px;
  }
}
