<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="showDropdown" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li *ngIf="isUser" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item cursor-p" (click)="navigateTo('cuenta-cliente')">Mi cuenta</a>
          <a class="dropdown-item cursor-p" (click)="navigateTo('mis-servicios-cliente')">Mis Servicios</a>
        </div>
      </li>

      <li *ngIf="!isUser" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item cursor-p" (click)="navigateTo('cuenta-empresa')">Mi cuenta</a>
          <a class="dropdown-item cursor-p" (click)="navigateTo('mis-servicios-empresa')">Mis Servicios</a>
          <a class="dropdown-item cursor-p" (click)="navigateTo('registro-lavadora')">Registrar lavadora</a>
          <a class="dropdown-item cursor-p" (click)="navigateTo('listado-lavadoras-empresa')">Lista de lavadoras</a>
        </div>
      </li>
    </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" type="button">{{session}}</button>
  </div>
</nav>

<div class="padding-40 container">
  <router-outlet></router-outlet>
</div>
